li{
    font-size: 18px;
    font-weight: bold;
    color: wheat;
    list-style: none;
    transition:  background-color .2s ease-out;
    text-transform: capitalize;
    justify-items: center;
}
.media{
    width: 70%;
    border-radius: 5px;
    justify-content: center;
}
.content{
    justify-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}