li{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #dc3545;
    border-radius: 5px;
    list-style: none;
    transition:  background-color .2s ease-out;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}